:root {
  --light-gray: #E5E7EB;
  --middle-blue: #3882F6;
  --dark-blue: #1F2937;
  --whitish-color: #F9FAF8;
  --link-hover: #27364A;
}

* {
  padding: 0;
  margin: 0;
  /*border: solid 1px red;*/
}

html {
  font-family: sans-serif;
}

.normal-text {
  font-size: 18px;
  color: var(--light-gray);
}

/*---------- HEADER ----------*/

header, nav, .nav__links {
  height: 4em;
}

header {
  background-color: var(--dark-blue);
  color: var(--whitish-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  /*right: 0;*/
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.logo__icon {
  max-height: 80%;
}

.logo__text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

nav {
  display: flex;
  width: 50%;
  justify-content: center;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
  min-width: 40%;
}

.nav__link-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__link-wrapper:hover {
  background-color: var(--link-hover)
}

.nav__link {
  height: 100%;
  padding: 0 10px;
  line-height: 60px;
  text-decoration: none;
  white-space: nowrap;
}

.nav__link:visited {
  text-decoration: none;
}

/*---------- MAIN CONTENT - SECTION 1 ----------*/

.section-1 {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  /*flex-wrap: wrap;*/
}

.section-1__left-column {
  max-width: 45vw;
  margin: 0 70px 0 5vw;
}

.section-1__main-text {
  color: var(--whitish-color);
  font-size: 48px;
  font-weight: extra-bold;
  margin: 10px 0;
}

.section-1__secondary-text {
  margin: 15px 0;
}

.section-1__button {
  background-color: var(--middle-blue);
  border: none;
  border-radius: 10px;
  color: var(--whitish-color);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
}

.section-1__right-column {
  max-height: 100%;
  max-width: 50%;
  margin: 0 5vw 0 0;
}

.section-1__main-image {
  max-height: 50vh;
  max-width: 100%;
}

/*---------- MAIN CONTENT - SECTION 2 ----------*/

.section-2 {
  background-color: var(--whitish-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  width: 100%;
}

.section-2__header-text {
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: extra-bold;
  margin-bottom: 50px;
}

.section-2__main-content {
  display: flex;
}

.section-2__box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.section-2__box {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border: solid 5px var(--middle-blue);
  border-radius: 20px;
  transition: 0.07s;
  margin-bottom: 15px;
}

.section-2__box:hover {
  transform: scale(1.1);
}

.section-2__box-label {
  color: gray;
  font-size: 20px;
}